
@{ ViewData["Title"] = "SuccessfulReservation";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>You have successfully booked a flight!</h1>
<h3>Please check your email for details and to confirm your reservation.</h3>
<a asp-action="Index">Go back</a>